*{
  box-sizing: border-box;
}
body{
  font-family: 'muli', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(114, 114, 221);
}

.currency{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle{
  color: #f59300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle .rate{
  background-color: #fff;
  border: 2px solid #ecf0f1;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 10px;
  margin: 30px 15px 30px 25px;
}

select:focus, input:focus, button:focus{
  outline: 0;
}

/*.middle button{
  background-color: #fff;
  border: 2px solid #ecf0f1;
  border-radius: 50%;
  cursor: pointer;
  color: #f59300;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  transform: rotate(90deg);
}*/
/*.middle button:active{
  transform: rotate(90deg) scale(0.9);
}*/
